body {
    background-color: #FAF0BC;
    color: #323232;
    /* Comment crl / */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bolder;
    background-color:lightgrey;
    opacity: 80%;
}

a {
    color: blue;
    margin: auto;
}

a:visited {
    color: #323232
}

a:hover {
    color: red
}

p{
    text-align:center;
}

img {
    border: 2px solid #323232;
    padding: 5px;
    margin: 5px;
    /* centers stuff */
    display:block;
    margin: auto;
}
iframe{
    border: 2px solid #323232;
    padding: 0px;
    margin: 5px;
}
.centerimg1 {
    display: block;
    margin: auto;
}
.rizz{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:Grey;
    font-size: 24px;
    font-style: italic;
    display: block;
    margin: auto;
}
li{
    text-decoration:underline;
}
iframe{
    display: block;
    margin: auto;  
}